# NOTE: Requires **VS2019 16.3** or later

# New Rule Set
# Description:  

# Code files
[*.{cs,vb}]


dotnet_diagnostic.CA1000.severity = none

dotnet_diagnostic.CA1001.severity = none

dotnet_diagnostic.CA1010.severity = none

dotnet_diagnostic.CA1016.severity = none

dotnet_diagnostic.CA1018.severity = none

dotnet_diagnostic.CA1036.severity = none

dotnet_diagnostic.CA1041.severity = none

dotnet_diagnostic.CA1050.severity = none

dotnet_diagnostic.CA1051.severity = none

dotnet_diagnostic.CA1061.severity = none

dotnet_diagnostic.CA1304.severity = none

dotnet_diagnostic.CA1305.severity = none

dotnet_diagnostic.CA1309.severity = none

dotnet_diagnostic.CA1401.severity = none

dotnet_diagnostic.CA1707.severity = none

dotnet_diagnostic.CA1708.severity = none

dotnet_diagnostic.CA1710.severity = none

dotnet_diagnostic.CA1711.severity = none

dotnet_diagnostic.CA1712.severity = none

dotnet_diagnostic.CA1715.severity = none

dotnet_diagnostic.CA1716.severity = none

dotnet_diagnostic.CA1720.severity = none

dotnet_diagnostic.CA1725.severity = none

dotnet_diagnostic.CA1806.severity = none

dotnet_diagnostic.CA1816.severity = none

dotnet_diagnostic.CA1821.severity = none

dotnet_diagnostic.CA1822.severity = none

dotnet_diagnostic.CA1824.severity = none

dotnet_diagnostic.CA2101.severity = none

dotnet_diagnostic.CA2200.severity = none

dotnet_diagnostic.CA2201.severity = none

dotnet_diagnostic.CA2208.severity = none

dotnet_diagnostic.CA2211.severity = none

dotnet_diagnostic.CA2219.severity = none

dotnet_diagnostic.CA2229.severity = none

dotnet_diagnostic.CA2231.severity = none

dotnet_diagnostic.CA2242.severity = none

dotnet_diagnostic.VSSpell001.severity = error
